.location {
  height: 420px;
  background: url("../img/map-off.png") no-repeat 50% 50%;

  @media (min-width: $tablet) {
    height: 480px;
  }

  @media (min-width: $desktop) {
    height: 540px;
  }
}

.location__map {
  height: 100%;
}
